table (border=1)
    tr 
        th document                                 
        th fullname 
    tr 
        td 421575
        td alejandro lopez 
    tr 
        td 78787878
        td alejo hola